<!DOCTYPE html>
<html>
  <head>
    <title>TestBlog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar">
      <ul class="navbar__container">
        <li class="navbar__element"><%= link_to 'Home', root_path, class: "navbar__link navbar__link-first" %></li>
        <%# link to about %>
        <li class="navbar__element"><%= link_to 'About', about_path, class: "navbar__link" %></li>
        <%# link to users %>
        <li class="navbar__element"><%= link_to 'My journeys', users_path, class: "navbar__link" %></li>
        <li class="navbar__element"><%= link_to 'Calculate', journeys_path, class: "navbar__link" %></li>
        <li class="navbar__element"><%= link_to 'Debug : transports', transports_path, class: "navbar__link" %></li>
      </ul>
    </nav>
    <%= yield %>
  </body>
</html>
