<!DOCTYPE html>
<html>
  <head>
    <title>TestBlog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <ul>
        <li><a href="/about">About</a></li>
        <li><a href="/users">Mes trajets</a></li>
        <li><a href="/calculate">Calculer</a></li>
        <li><a href="/transports">Debug : transports</a></li>
      </ul>
    </nav>
    <%= yield %>
  </body>
</html>
